body {
    background: lavender;
}
.App {
    max-width: 95%;
    min-width: 95%;
    margin: auto;
}
header {
    background-image: url('./backgroundImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-end: 3rem;
}

